[package]
name = "xd_bot"
version = "0.1.0"
authors = ["MaFeLP <mafelp@protonmail.ch>"]
edition = "2021"
description = "A small collection of non-useful commenting bots"
readme = "README.md"
homepage = "https://mafelp.github.io/xd_bot/"
repository = "https://github.com/MaFeLP/xd_bot/"
license = "GPLv3"
keywords = ["discord", "bot", "serenity"]
categories = ["discord"]
exclude = [".env"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
ctrlc = "3.2"

[dependencies.serenity]
default-features = false
features = ["client", "gateway", "rustls_backend", "model", "cache"]
version = "0.10"
