name: "Rolling Release"

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: Make Repository name lowercase
        id: name
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ env.IMAGE_NAME }}

      - uses: actions/checkout@v4

      - name: Setup cross compilation
        run: |
          # Cargo configuration
          mkdir -vp .cargo
          cat > .cargo/config.toml << __EOF__
          [target.aarch64-unknown-linux-gnu]
          linker = "aarch64-linux-gnu-gcc"

          [target.x86_64-pc-windows-gnu]
          linker = "x86_64-w64-mingw32-gcc"
          __EOF__
          # Add rust targets
          rustup target add aarch64-unknown-linux-gnu
          rustup target add x86_64-pc-windows-gnu
          # Install linkers
          sudo apt-get install -y gcc gcc-aarch64-linux-gnu mingw-w64

      - name: Build cross platform
        run: |
          mkdir /tmp/release-files
          cargo build --release --target aarch64-unknown-linux-gnu
          mv target/aarch64-unknown-linux-gnu/release/xd_bot ./aarch64-linux-discord_bots
          cargo build --release --target x86_64-pc-windows-gnu
          mv target/x86_64-pc-windows-gnu/release/xd_bot.exe ./win64-discord_bots.exe
          cargo build --release
          mv target/release/xd_bot ./amd64-linux-discord_bots

      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          artifacts: LICENSE,aarch64-linux-discord_bots,win64-discord_bots.exe,amd64-linux-discord_bots
          allowUpdates: true
          prerelease: true
          tag: "latest"
          name: ${{ steps.tag_name.outputs.NAME }}
          replacesArtifacts: true
          generateReleaseNotes: true

# When the release has been created: create docker images in the same step to save computing time
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action

      # Build arm image
      - name: Build and push Docker image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          file: .github/action-assets/multi-platform.dockerfile
          context: .
          build-args: |
            docker_arch=linux/arm64
            binary_name=aarch64-linux-discord_bots
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ steps.name.outputs.lowercase }}:rolling
          labels: ${{ steps.meta.outputs.labels }}

      # Build linux/amd64 image
      - name: Build and push Docker image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          file: .github/action-assets/multi-platform.dockerfile
          context: .
          build-args: |
            docker_arch=linux/amd64
            binary_name=amd64-linux-discord_bots
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ steps.name.outputs.lowercase }}:rolling
          labels: ${{ steps.meta.outputs.labels }}
